<!-- <h1 align="center">This is heading 1</h1> -->

<h1>Welcome to Congenial Garbanzo</h1>
<h3><em>A Friendly Chat Room for You and Your Friends</em></h3>

<div class="chat-list">
  <ul id="messages">
    <li>Placeholder text</li>
  </ul>
</div>

<div class="new-message">
  <div class="new-message-form">
    <form action="/dashboard">
      <input id="m" rows="4" cols="50" autocomplete="off" placeholder="Enter message here..." />
      <button>Send Message</button>
    </form>
  </div>
</div>
